body {
    margin: 0;
    background: linear-gradient($background-color-secondary, $background-color-main);
    background-repeat:round;
    position: relative;
    padding-bottom: 11rem;
}
.container {
    min-height: 100vh;
    width: 80%;
    margin: auto;
}