
footer{
    position: absolute;
    border-top: 0.1rem solid black;
    box-sizing: border-box;
    bottom: 0;
    background-color: #666;
    left: 0;
    width: 100%;
    .scocials {
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            
            margin: 0;
            list-style: none;
            display:flex;
            gap: 1em;
            
            
        }
    }
}