header {
    height: 8rem;
    text-align: center;
    padding: 1rem;
    color:black;
    background-color: transparent;
}
nav {
    background-color: transparent;
    font-size: 3rem;
    .burger {
        text-decoration: none;
    }
    ul  {
        list-style-type: none;
        margin: 0;
            .btn{
                font-size: 1.5rem;
                padding: .7rem 0;
                cursor: pointer;
                width: 100%;
                background-color: rgb(223, 223, 223);
                &:hover {
                    
                    color: white;
                    background-color: dimgray;
                }
            }
    }
}
.underlined {
    text-decoration: underline;
}
@media only screen and (min-width: 500px)  {
    nav {
        .btn{
            padding: 1rem;
            max-width: 8em;
            font-size: 1.5rem;
            min-width: 4em;
        }
    
        ul {
            display: flex;
            justify-content: center;
            gap: 2rem;

        }
    }
}
.hidden {
font-size: 5rem;
}