.cardContainer {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    .card{
    transition: box-shadow 500ms ease-out;
    transition: background-color 500ms ease-out;
    }
    
    .card {
        border: solid $border-color;
        padding: 1em;
        flex-grow: 1;
        width: 15em;
        max-width: 30rem;
        &:hover {
            box-shadow: $box-shadow-transition;
            background-color: $background-color-secondary;
            }
        .projectName {
            text-align: center;

        }
        .projectName{
            font-size: 1.3rem;
            text-align: center;
        }
        .hosted {
            background-color: #534292;
            color: white;
            display: flex;
            justify-content: center;

        }
        .github {
            background-color: #24292e;
            color: white;
            display: flex;
            justify-content: center;
            align-content: space-around;
        }
        .btn {
            padding: 1em;
            margin: 0.5em 0.1em;
            font-size: 1.4rem;
            text-decoration: none;
            text-align: center;

            &:hover {
                box-shadow: $box-shadow-initial;
                transition: all 0.2s ease-in-out;
                }
        }
        button {
            cursor: pointer;
        }
        h2 {
            color: $header-color;
        }
        p{
            color: $para-color;
            margin: 2rem 0;
        }
    }
}