@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
h1,
h2,
h3,
h4,
h5,
.btn{
	letter-spacing: 1.2pt;
}
*{
	font-family: Garamond, EB Garamond, Georgia, serif;
}
p {
	letter-spacing: .6pt;
	line-height: 16pt;
	max-width: 80ch;
	font-family: Georgia, serif;
}
h1 {
	font-size: 1.5rem;
	line-height: 30pt;
}

ul {
	margin-top: 1rem;
	li {
		letter-spacing: 0.6pt;
		line-height: 16pt;
		margin-left: 2rem;
	} 
}
