@import url(http://fonts.googleapis.com/css?family=EB+Garamond);
h1,
h2,
h3,
h4,
h5,
.btn{
    font-family: Garamond, EB Garamond, Georgia, serif;
    letter-spacing: 1.5pt;
}
*{
    font-family: Georgia, serif;
}
p {
    letter-spacing: .6pt;
    line-height: 16pt;
}