$box-shadow-color: rgb(105, 105, 105);
$box-shadow-initial: 1px 1px 1px $box-shadow-color, -0.1em .1em .1em $box-shadow-color;
$box-shadow-transition: 1px 1px 4px $box-shadow-color, -0.3em .1em .4em $box-shadow-color;
$background-color-main: #696969;
$background-color-light: #efefef;
$background-color-secondary: #d0d0d0;
$border-color: black;
$header-color: black;
$para-color: black;